<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Serif+KR:wght@200&display=swap"
        rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/detail.css">

  <title>Pod Share 상세페이지</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script defer src="/static/js/detail.js"></script>
</head>

<body>
<div class="dp_background">
  <div class="dp">
    <div class="dp_top">
    </div>
    <div class="dp_center">
      <div class="dp_img">
        <div class="dp_img_picture">
          <img src="{{ detailget.image }}">
        </div>
      </div>
      <div class="dp_audio">
        <div class="dp_audio_box">
          <audio src="{{ detailget.audio }}" loop controls id="myAudio">
            오디오 지원되지 않는 브라우저
          </audio>
        </div>
      </div>
      <div class="dp_info">
        <div class="dp_info_title1">
          <h6><b>{{ detailget.chan_title }}</b></h6>
        </div>
        <div class="dp_info_title2">
          <h5><b>{{ detailget.epi_title }}</b></h5>
        </div>
        <div class="dp_info_box">
          <div class="dp_info_date">
            <p>{{ detailget.date }}</p>
          </div>
          <div class="dp_info_dot">
            <p>•</p>
          </div>
          <div class="dp_info_playtime">
            <p>{{ detailget.playtime }}</p>
          </div>
          <div class="dp_info_dot">
            <p>•</p>
          </div>
          <div class="dp_info_like">
            <p>좋아요 {{ detailget.like }}</p>
          </div>
        </div>
        <div class="dp_info_article">
          <div class="content">
            {{ detailget.description }}"
          </div>
        </div>
      </div>
      <div class="dp_reply">
        <div class="reply">
          <div class="form-floating">
            <textarea class="form-control" placeholder="comment here" id="reply" style="height: 100px"></textarea>
            <label>댓글을 입력해주세요</label>
          </div>
          <button onclick="save_reply()" type="button" class="btn btn-dark">댓글 남기기</button>
        </div>
        <div class="mycards" id="reply-list"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>