<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/signin.css">

  <title>login page</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script defer src="/static/js/signin.js"></script>
</head>
<body>
<div class=pic></div>
<div class="box">
  <input id="userId" type="text" placeholder="Username">
  <input id="userPw" type="password" placeholder="Password">
  <button onclick="loginBtn()">로그인</button>
  <button onclick="signUpBtn()">회원가입</button>
</div>
</body>
</html>